.button {
  align-items: center;
  background-color: #0276ff;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  line-height: 1.15;
  padding: 10px 21px;
  text-align: center;
  transition: .3s ease-in-out;
}

.button:active {
  background-color: #006ae8;
}

.button:hover {
  background-color: #1c84ff;
}